<body class="cover">
    {% extends 'base.html' %}
    {% load static %}
    {% block content %}
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
    <h1 style="color:Yellow;">{{ cats }}</h1>
        <div class="myDiv2 col1">
            <ul>
                {% for post in category_posts %}
                    <li><a href="{% url 'article-detail' post.pk %}"> {{ post.title }} </a>
                        {{ post.category }}
                        -  {{ post.author.first_name }}
                        {{ post.author.last_name }} - {{ post.post_date }} <small>
                            {% if user.is_authenticated %}
                                {% if user.id == post.author.id %}
                                    <a href="{% url 'update_post' post.pk %}">(Edit)</a>
                                    <a href="{% url 'delete_post' post.pk %}">(Delete)</a></small>
                                    <br/>
                                {% endif %}
                            {% endif %}
                        <div class="container">
                            {{ post.body|safe }}

                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>


    {% endblock %}
</body>